    </main>

    <footer class="site-footer text-center">
        <div class="social">
            <a href="https://github.com/{{ site.username }}" class="icon-github" title="{{ site.title }}'s GitHub"><span class="hidden">GitHub</span></a>
            <a href="https://twitter.com/{{ site.username }}" class="icon-twitter" title="{{ site.title }}'s Twitter"><span class="hidden">Twitter</span></a>
            <a href="{{ site.url }}/feed/index.xml" class="icon-rss" title="{{ site.title }}'s RSS feed"><span class="hidden">RSS Feed</span></a>
        </div>
        <div class="copyright">
            <a href="{{ site.url }}">{{ site.title }}</a> &copy; 2015
        </div>
    </footer>

    <!-- Javascript -->
    <script type="text/javascript" src="/js/moran-min.js"></script>
    <script type="text/javascript" src="/js/prism-min.js"></script>

    {% include analytics.html %}
</body>
</html>