---
layout: default
---

<article>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
        <time class="post-meta-date" datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <div class="share">
        <a href="https://twitter.com/{{ site.username }}" class="icon-twitter" title="{{ site.title }}'s Twitter"><span class="hidden">Twitter</span></a>

        <p>
            If you liked this article and think others should read it, please <a href="http://twitter.com/intent/tweet?text={{page.title}}&url={{page.url | prepend: site.url}}&via={{ site.username }}" target="_blank">share it on Twitter</a>.
        </p>
    </div>
</article>